.modal {
	position: absolute;
	top: 30%;
	left: 45%;
	background-color: rgba(0, 0, 0, 1);
	padding: 5rem;
	border-radius: 30px;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
	animation: glow 1s ease-in-out infinite alternate;
}
.modalWrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100svw;
	height: 100svh;
	background-color: rgba(255, 255, 255, 0.7);
}
