.modal{
    position: absolute;
    top: 40%;
    left: 50%;
    background-color: rgba(0, 0, 0, 1);
    padding: 5rem;
    border-radius: 30px;
    
}
.modalWrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100svw;
    height: 100svh;
    background-color: rgba(255, 255, 255, 0.7);
}