.actionPanelContainer {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* gap: 0.5rem; */
	justify-items: center;
	place-items: center;
	& button {
		width: 5rem;
		aspect-ratio: 1;
		border-radius: 50%;
		background: rgba(0, 0, 0, 0.5);
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.5);
		backdrop-filter: blur(4px);
		font-weight: bold;
		border: 1px solid white;
		display: flex;
		justify-content: center;
		align-items: center;
		color: white;
		letter-spacing: 3px;
		padding: 3rem;
		&:hover {
			border: 2px solid white;
		}
	}
	width: 100%;
	height: 100%;
}
