.dayPickerContainer {
	display: flex;
	flex-direction: column;
	height: 100%;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.dateInput {
	padding: 1rem;
	font-size: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 30px;
}

.weekDaysContainer {
	width: 100%;
	height: fit-content;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	gap: 1.5rem;
	place-items: center;
}

.weekDayCell {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 0.5px solid rgba(255, 255, 255, 1);
	border-radius: 15px;
	padding: 0.5rem;

	&:hover {
		cursor: pointer;
		background-color: rgba(255, 255, 255, 0.5);
		color: black;
		font-weight: bold;
	}
}

.dayName {
	font-weight: bold;
}

.dayDate {
	font-size: 11px;
}

.current {
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
	font-weight: bold;
}

.monthViewContainer {
	width: 95%;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	gap: 1rem;
	padding: 1rem;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 30px;
	place-items: center;
}

.dayHeader {
	font-weight: bold;
}

.calendarCell {
	width: 2rem;
	height: 2rem;
	text-align: center;
	&:hover {
		cursor: pointer;
		border: 1px solid rgba(255, 255, 255, 0.5);
	}
	display: flex;
	justify-content: center;
	align-items: center;
}

.workoutDay {
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.5);
	color: black;
}
